{
    "line": {
        "line_bot_user_id": "",
        "line_channel_secret": "",
        "line_channel_token": ""
    },
    "logging": {
        "level": "debug"
    },
    "azure": {
        "account": {
            "name": "",
            "access_key": ""
        }
    }
}