[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
line-bot-sdk = "*"

[dev-packages]
bpython = "*"
pytype = "*"
pylint = "*"
black = "*"
alembic = "*"

[requires]
python_version = "3.10"
