name: "Testing on PR"
on: [pull_request]
jobs:
  unit-testing:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10.2'
      - run: pip install pipenv
      - run: pipenv install --system --dev
      - run: python -m unittest tests
